#menu ul {
padding-left: 0;
margin-left: 0;
background-color: #6D6E71;
color: #F5F4F6;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;

}

#menu ul li { display: inline; }

#menu ul li a
{
padding: 0.2em 1em;
background-color: #6D6E71;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

#menu ul li a:hover
{
background-color: #A90101;
color: #fff;
}
